<!DOCTYPE html>
<html>
<head>
    <title>Food Delivery App</title>
</head>
<body>

<h1>{{ message }}</h1>

<h2>Menu</h2>
<ul id="menu"></ul>

<h2>Order</h2>
<input type="text" id="item" placeholder="Enter item name">
<button onclick="order()">Order</button>

<p id="msg"></p>

<script>

fetch("http://54.87.139.42:5010/menu")
.then(res => res.json())
.then(data => {
    let list = "";
    data.forEach(item => {
        list += `<li>${item.name} - ₹${item.price}</li>`;
    });
    document.getElementById("menu").innerHTML = list;
});


function order() {
    let item = document.getElementById("item").value;

    fetch("http://54.87.139.42:5010/add", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({item: item})
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("msg").innerText = data.message || data.error;
    });
}
</script>



</body>
</html>
